<div class="coding-wrapper">

</div>

<div id="logo">
  <a href="mailto:nikolai.lambsdorff@gmx.de" class="first-logo vertical"></a>
  <a href="mailto:nikolai.lambsdorff@gmx.de" class="second-logo horizontal"></a>
  <a href="mailto:nikolai.lambsdorff@gmx.de" class="third-logo vertical"></a>
  <a href="mailto:nikolai.lambsdorff@gmx.de" class="fourth-logo horizontal"></a>
</div>


<script>
  (function() {
    var openComment, styles, time, writeStyleChar, writeStyles;

    styles = "/* \n * Hey, my name is Nikolai Lambsdorff.\n * This example is a page that life-codes it's styles.\n * So let's start with setting the main settings.\n */\n\n* {\n  -webkit-transition: all 1s ease;\n  transition: all 1s ease;\n}\n\nbody {\n  background-color: #F4F4F4; color: #333333;\n  font-size: 16px; line-height: 1.4;  \n}\n\n/* \n * Next, let's but the text into a nice design terminal window.\n */\n\n#style-text {\n  position: absolute;\n  overflow: auto;\n  width: 50%;\n  top: 30px;\n  bottom: 20px;\n  right: 30px;\n  transition: left 500ms;\n  background-color: #313744;\n  color: #a6c3d4;\n  border: 1px solid rgba(0,0,0,0.2);\n  padding: 24px 12px;\n  box-sizing: border-box;\n  border-radius: 5px;\n  box-shadow: -9px -6px 0px 0px rgba(0, 0, 0, 0.1);\n}\n\n/* \n * and change the colors of the text.\n */\n\n.comment       { color: #BABEB6; }\n.selector      { color: #ffbe00; }\n.selector .key { color: #C8BFD7; }\n.key           { color: #F6F6F6; }\n.value         { color: #2AABE3; }\n\n/* \n * But this still doesn't look really like a Mac terminal, \n * so we could add the maximizing and minimizing bubbles.\n */\n\n.coding-top-bar {\n  position: absolute;\n  z-index: 1;\n  width: 50%;\n  background-color: #252525;\n  height: 33px;\n  top: 30px;\n  right: 30px;\n  border-top-left-radius: 5px; border-top-right-radius: 5px;\n  border-bottom: 1px solid black;\n}\n\n.coding-window-dots {\n  z-index: 2;\n  position: absolute;\n  display: flex;\n  justify-content: space-between;\n  width: 50px;\n  top: 9px;\n  left: 9px;\n}\n.coding-window-dots div {\n  height: 12px;\n  width: 12px;\n  border-radius: 50%;\n}\n\n.coding-window-close {\n   background-color: #FC4546;\n   border: 0.5px solid #E23D3E;\n }\n\n.coding-window-minimize {\n  background-color: #FEB925;\n  border: 0.5px solid #D79B1F;\n}\n\n.coding-window-maximize {\n   background-color: #28C232;\n   border: 0.5px solid #209828;\n }\n\n/*\n * Of course we also need to change the back link.\n * Lets do that very fast.\n */\n\n.coding-back {\n  position: absolute;\n  top: 40px; \n  left: 40px;\n  padding: 10px;\n  border-radius: 4px;\n  color: white;\n  background-color: #313743;\n  box-shadow: -5px -4px #cacaca;\n  text-decoration: none;\n}\n.coding-back:hover {\n  text-decoration: none;\n  transition: all 0.5s ease;\n  background-color: #8DA1C8;\n  color: black;\n}\n\n\n /* \n  * So let's also create my logo, now.\n  */\n\n#logo {\n  position: absolute;\n  top: 30px;\n  bottom: 30px;\n  left: 0px;\n  width: 50%;\n  display: flex;\n  justify-content: center;\n  align-items: center;\n}\n\n#logo a {\n  position: absolute;\n  background-color: #afafaf;\n  height: 230px;\n  box-shadow: -11px -8px #525252;\n}\n\n#logo .vertical {\n  z-index: 1;\n  width: 54px;\n}\n\n.first-logo {\n  left: 149px;\n  border-right: 10px solid #f4f4f4;\n}\n\n.second-logo {\n  width: 48px;\n  left: 207px;\n  -webkit-transform: skew(25deg);\n  -moz-transform: skew(25deg);\n  -o-transform: skew(25deg);\n}\n\n.third-logo {\n  border-left: 10px solid #f4f4f4;\n  left: 260px;\n}\n\n.fourth-logo {\n  top: 403px;\n  width: 112px;\n  left: 270px;\n  height: 34px !important;\n}\n\n/**\n * Perfect! We are done.\n * You can also click on the logo to send me an email.\n *\n */";

    openComment = false;

    writeStyleChar = function(which) {
    // begin wrapping open comments
    if (which === '/' && openComment === false) {
      openComment = true;
      styles = $('#style-text').html() + which;
    } else if (which === '/' && openComment === true) {
      openComment = false;
      styles = $('#style-text').html().replace(/(\/[^\/]*\*)$/, '<em class="comment">$1/</em>');
    // wrap style declaration
  } else if (which === ':') {
    styles = $('#style-text').html().replace(/([a-zA-Z- ^\n]*)$/, '<em class="key">$1</em>:');
    // wrap style value
  } else if (which === ';') {
    styles = $('#style-text').html().replace(/([^:]*)$/, '<em class="value">$1</em>;');
    // wrap selector
  } else if (which === '{') {
    styles = $('#style-text').html().replace(/(.*)$/, '<em class="selector">$1</em>{');
  } else {
    styles = $('#style-text').html() + which;
  }
  $('#style-text').html(styles);
  return $('#style-tag').append(which);
};

writeStyles = function(message, index, interval) {
  var pre;
  if (index < message.length) {
    pre = document.getElementById('style-text');
    pre.scrollTop = pre.scrollHeight;
    writeStyleChar(message[index++]);
    return setTimeout((function() {
      return writeStyles(message, index, interval);
    }), interval);
  }
};


  // appending the tags I'll need.
  $('body').append("  <style id=\"style-tag\"></style>\n  <a href=\"/\" class=\"coding-back\">Back</a>\n<div class=\"coding-text-wrapper\">\n    <div class=\"coding-top-bar\">\n      <div class=\"coding-window-dots\">\n        <div class=\"coding-window-close\"></div>\n        <div class=\"coding-window-minimize\"></div>\n        <div class=\"coding-window-maximize\"></div>\n      </div>\n    </div>\n    <pre id=\"style-text\"></pre>\n  </div>");

  // faster typing in small iframe on codepen homepage
  time = window.innerWidth <= 578 ? 4 : 16;


  // starting it off
  writeStyles(styles, 0, time);


}).call(this);

</script>

