<div>
  <h1>SimpleStocks</h1>
  <h3>Privacy</h3>
  <p>We do not track, collect or analyze your personal data.</p>
  <p>All your personal data is stored on device.</p>
  <p>© 2019 Nikolai Graf Lambsdorff</p>
</div>
