// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Define fonts for body and headers
$body-font: "Open Sans", "Helvetica", "sans-serif";
$headers-font: "Raleway", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

@font-face {
   font-family: 'Avayx';
   src: font-url('Avayx.ttf');
}

@font-face {
   font-family: 'Hornbill';
   src: font-url('Hornbill-Font-Family/Hornbill.otf');
}

@font-face {
   font-family: 'NIM';
   src: font-url('NIM.ttf');
}

@font-face {
   font-family: 'Megant';
   src: font-url('Megant.ttf');
}

@font-face {
   font-family: 'Carneys';
   src: font-url('Carneys_Gallery/Carneys.otf');
}

@font-face {
   font-family: 'Aqua';
   src: font-url('aqua.ttf');
}

@font-face {
   font-family: 'Mosk';
   src: font-url('Mosk/Mosk_Normal_400.ttf');
}

@font-face {
   font-family: 'BIG JOHN';
   src: font-url('BIG_JOHN.otf');
}
