
.classic-navbar {
  background: #dadada;
  height: 45px;
}

.classic-back-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #DE1A1A;
  p {
    margin: 0;
    padding-left: 2px;
  }
  &:hover {
    text-decoration: none;
    color: #AB1513;
  }
}

.classic-navbar-right {
  width: 90%;
  height: 100%;
}

.classic-navbar-link {
  color: #363636;
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;

  &:hover {
    color: #DE1A1A;
    transition: all ease-in-out 0.5s;
    background-color: #F6F6F6;
  }
}

.classic-nav-hover {
  color: #AFAFB6;
}

.card-container {
  margin: 50px 30px;
}

.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}



/*

Classic timeline


*/

@import url(https://fonts.googleapis.com/css?family=Fira+Sans:200,400,500);

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

a {
  color: #50585f;
  text-decoration: none;
  &:hover {
    color: #383e44;
  }
}

.classic-timeline-container {
  display: flex;
  flex: auto;
  flex-direction: column;
  max-height: 100%;
}
.classic-timeline-header {
  height: 67px;
  margin-top: 70px;
  text-align: center;
  background: #7b7b7b;;
  color: ghostwhite;
  padding: 2.3rem 1rem 2.3rem 1rem;
  position: relative;

  h1 {
    margin: {
      top: 0;
      bottom: 0;
    }
    font: {
      weight: 200;
      size: 1.6em;
    }
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    @media (min-width: 62em) {
      font-size: 1.9em;
      letter-spacing: 0.2rem;
    }
  }
  h2 {
    font: {
      size: 1.1em;
      weight: 400;
    }
    color: #cfd7de;
    max-width: 30rem;
    margin: auto;
  }
}

.item {
  display: flex;
  flex: auto;
  overflow-y: auto;
  padding: 0rem 1rem 0rem 1rem;
}

#timeline {
  position: relative;
  display: table;
  height: 100%;
  margin: {
    left: auto;
    right: auto;
    top: 5rem;
  }
  div {
    &:after {
      content: '';
      width: 2px;
      position: absolute;
      top: .5rem;
      bottom: 0rem;
      left: 60px;
      z-index: 1;
      background: #C5C5C5;
    }
  }
  h3 {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    color: #888;
    margin: 0;
    font: {
      size: 1em;
      weight: 400;
    }
    @media (min-width: 62em) {
      font-size: 1.1em;
    }
  }
  section.year {
    position: relative;
    &:first-child section{
      margin-top: -1.3em;
      padding-bottom: 0px;
    }
    section {
      position: relative;
      padding-bottom: 1.25em;
      margin-bottom: 2.2em;
      h4 {
        position: absolute;
        bottom: 0;
        font: {
          size: .9em;
          weight: 400;
        }
        line-height: 1.2em;
        margin: 0;
        padding: 0 0 0 89px;
        color: #C5C5C5;
        @media (min-width: 62em) {
          font-size: 1em;
        }
      }
      ul {
        list-style-type: none;
        padding: 0 0 0 75px;
        margin: -1.35rem 0 1em;
        max-width: 32rem;
        font-size: 1em;
        @media (min-width: 62em) {
          font-size: 1.1em;
          padding: 0 0 0 81px;
        }
        &:last-child {
          margin: {
            bottom: 0;
          }
        }
        &:first-of-type:after {
          content: '';
          width: 10px;
          height: 10px;
          background: #C5C5C5;
          border: 2px solid #FFFFFF;
          @include border-radius(50%);
          position: absolute;
          left: 54px;
          top: 3px;
          z-index: 2;
        }
        li {
          margin-left: .5rem;
          &:before {
            content: '·';
            margin-left: -.5rem;
            padding-right: .3rem;
          }
          &:not(:first-child) {
            margin-top: .5rem;
          }
          span.price {
            color: mediumturquoise;
            font-weight: 500;
          }
        }
      }
    }
  }
}

#price {
  display: inline;
}

svg {
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}







