h2 {
  font-size: 50px;
  font-family: Nunito;
}

body {
  font-family: Nunito;
  background-color: white;
}

body ::selection {
    background-color: #d43e3d;
    color: #fff;
}

a {
  color: black;
  &:hover {
    color: #4141ff;
  }
}

.about-text   {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  line-height: 40px;
  margin-top: 60px;
}

.impressum-link {
  position: absolute;
  bottom: 5px;
  right: 15px;
  color: gray;

  &:hover {
    color: #4141ff;
  }
}

