h2 {
  font-size: 50px;
  font-family: Carneys;
  color: #101010;
}
h4 {
  font-family: Nunito;
  font-weight: bold;
}

body {
  font-family: Nunito;
  background-color: white;
}

body ::selection {
    background-color: black;
    color: #fff;
    /*#d43e3d*/
}

a {
  color: black;
  &:hover {
    color: #4141ff;
  }
}



/*on desctop devices*/
@media screen and (min-width: 900px) {
  .section-margin {
    margin-left: 50%;
  }
}

/*on small devices*/
@media screen and (max-width: 899px)  {
  .section-margin {
    margin-left: 10%;
  }
}



.about-text   {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  line-height: 40px;
  margin-top: 60px;
}

.impressum-link {
  position: absolute;
  bottom: 5px;
  right: 15px;
  color: gray;

  &:hover {
    color: #4141ff;
  }
}


#knowledge {
  ul {
    margin-top: 70px;
    margin-left: 20%;

    li {
      display: flex;
      margin: 7px;
      font-size: 24px;

      div {
        width: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

