* {
  transition: all 0.5s ease;
}

body ::selection {
  background-color: black;
  color: white;
}

body {
  background-color: white;
  color: black;
}

h2, h3, p {
  line-height: 63px;
  font-family: Menlo Regular;
}

h4 {
  font-family: Menlo Regular;
}

a {
  color: #4141ff;
}


#logo {
  width: 60px;
  border-radius: 16px;
  margin: 20px;
  position: fixed;
}

.prof-tag {
  text-decoration: underline;
}

.section-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-icon {
  font-size: 30px;
  color: black;
  margin-right: 30px;

  &:hover {
    color: #4141ff;
  }
}
