.Illustration {

  .main-illustration {
    display: block !important;
    width: 400px;
  }

  .knowledge-icon {
    display: none;
  }

  .illustration-icon {
    display: block !important;
    width: 80%;
  }


}
