
.playful-menu-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.standard-position {
  right: 0px;
  top: 0px;
}
.right-position {
  right: 300px;
  top: 100px;
}

.playful-back-link {
  background-color: #000;
  width: 60px;
  height: 40px;
  margin-top: 40px;
  margin-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  box-shadow: 20px 20px #e1e1e1;

  .playful-link-icon {
    color: #575757;
    text-decoration: none;
  }

  &:hover {
    background: #3E2AFF;
    transition: all .25s linear;
    margin-top: 49px;
    margin-left: 49px;
    box-shadow: 11px 11px #e1e1e1;

    .playful-link-icon {
      color: #e1e1e1;
      transition: all .25s linear;
      text-decoration: none;
    }
    &:after {
      width: 8px;
      background: #251A8E;
    }
    &:before {
      width: 8px;
      background: #251A8E;
    }
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    transition: all .25s linear;
    width: 9px;
  }
  &:after {
    height: 60px;
    background: #121212;
    top: 14px;
    left: 30px;
    transform: rotate(90deg) skew(0, -45deg);
  }
  &:before {
    height: 40px;
    background: #121212;
    top: 4px;
    left: 60px;
    transform: skewY(45deg);
  }
}

.playful-list-all {
  position: relative;
  transform: rotate(-35deg) skew(20deg,5deg);
  list-style-type: none;
  margin-top: 150px;
}

.playful-list-item {
  background: #000;
  color: #575757;
  text-align: center;
  height: 2.5em;
  width: 4em;
  vertical-align: middle;
  line-height: 2.5em;
  border-bottom: 1px solid #060606;
  position: relative;
  display: block;
  text-decoration: none;
  box-shadow: -2em 1.5em 0 #e1e1e1;
  transition: all .25s linear;

  &:hover {
    background: #3E2AFF;
    color: #fffcfb;
    transform: translate(.9em, -.9em);
    transition: all .25s linear;
    box-shadow: -2em 2em 0 #e1e1e1;

    &:before,
    &:after {
      transition: all .25s linear;
    }

    &:before {
      background: #251A8E;
      width: 1em;
      top: .5em;
      left: -1em;
    }

    &:after {
      background: #251A8E;
      width: 1em;
      bottom: -2.5em;
      left: 1em;
      height: 4em;
    }
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    transition: all .25s linear;
    width: .5em;
  }

  &:after {
    height: 4em;
    background: #181818;
    bottom: -2.25em;
    left: 1.5em;
    transform: rotate(90deg) skew(0,45deg);
  }

  &:before {
    height: 2.5em;
    background: #121212;
    top: .25em;
    left: -.5em;
    transform: skewY(-45deg);
  }
}

.playful-content-text-wrapper {
  height: 300px;
  margin: 86px;

  h2 {
    margin: 40px;
  }

  p {
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 28px;
  }
}
