
<div id="site-footer">
  <div class="footer">
    <div class="footer-contact">
      <p style="text-align: right; padding-right: 10px;"><i class="fas fa-at"></i></p><p><a href="mailto:nikolai.lambsdorff@gmx.de">nikolai.lambsdorff@gmx.de</a></p>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {

  // INITIATE THE FOOTER
  siteFooter();

  $(window).resize(function() {
    siteFooter();
  });

  function siteFooter() {
    var siteContent = $('#site-content');
    var siteContentHeight = siteContent.height();
    var siteContentWidth = siteContent.width();

    var siteFooter = $('#site-footer');
    var siteFooterHeight = siteFooter.height();
    var siteFooterWidth = siteFooter.width();

    siteContent.css({
      "margin-bottom" : "88px"
    });
  };
});
</script>
