<div class="contact-wrapper">

    <div style="text-align: center;">
      <img class="my-img" src="https://res.cloudinary.com/dcmqib0ib/image/upload/v1533230271/me.jpg" alt="">
      <div class="left-contact-text">
        <h3>Hi, I'm Nikolai Lambsdorff</h3>
        <!-- <p>Berlin</p> -->
        <p>
          <a class="left-link" href="https://www.linkedin.com/in/nikolai-lambsdorff-1b2241b6/" target="_blank">LinkedIn</a>
        </p>
        <p>
          <a class="left-link" href="mailto:nikolai.lambsdorff@gmx.de">Email</a>
        </p>
        <p>
          <a class="left-link" href="https://github.com/nikolailambs" target="_blank">GitHub</a>
        </p>
      </div>
    </div>

    <!-- <div id="scroll-bar" style="background: black; width: 3px; height: 100px; position: absolute; top: 0; right: -20px;">
    </div> -->

</div>



<!-- <script>
  $(function () {
    $(document).scroll(function () {
      var winheight = $(window).height();
      var docheight = $(document).height();
      var scrollTop = $(window).scrollTop()
      var trackLength = docheight - winheight
      var pctScrolled = Math.floor(scrollTop/trackLength * 100)
      $('#scroll-bar').css( 'top', pctScrolled/100 * winheight - 50 )
    });
  });
</script> -->
