

<!-- content -->
<div class="content-container">


  <!-- example section -->
  <div class="examples-wrapper" id="example-anchor">
    <h2 class="example-page-header">Projects</h2>
    <div class="example-bar">
      <nav class="fill">
        <ul class="example-list list-inline">
          <div class="row" style="width: 100%;">
            <%= render 'projects' %>

          </div>
        </ul>
      </nav>
    </div>
  </div>

  <!-- knowledge icon grid -->
  <%= render 'knowledge' %>


   <!-- about box -->
  <div class="scroll-box">
    <h2 class="about-page-header">About</h2>
    <div class="page-box big-box">
      <div class="row" style="width: 100%;">
        <div class="col-md-6 col-cs-12" style="text-align: center;">
          <img class="my-img" src="https://res.cloudinary.com/dcmqib0ib/image/upload/v1533230271/me.jpg" alt="">
        </div>
        <div class="col-md-6 col-cs-12">
          <p class="about-text">
            <p>Hi, I'm <span class="about-span">Nikolai Lambsdorff</span>.</p>
            <p style="font-size: 20px; color: #4c4c4c">
              <span class="bounce-in-on-hover list-text-hover">📍</span> Berlin
            </p>
            <p style="font-size: 20px; color: #4c4c4c">
              <a class="" href="https://www.linkedin.com/in/nikolai-lambsdorff-1b2241b6/" target="_blank">
                <span class="bounce-in-on-hover list-text-hover">💼</span> LinkedIn
              </a>
            </p>
            <p style="font-size: 20px; color: #4c4c4c">
              <a class="" href="mailto:nikolai.lambsdorff@gmx.de">
                <span class="bounce-in-on-hover list-text-hover">📩</span> Email
              </a>
            </p>
            <p style="font-size: 20px; color: #4c4c4c">
              <a class="" href="https://github.com/nikolailambs" target="_blank">
                <span class="bounce-in-on-hover list-text-hover">🗂</span> GitHub
              </a>
            </p>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div style="height: 30vh;">

  </div>

  <!-- contact info -->
  <!-- <div class="contact-info">
    <div class="contact-text-wrapper">
      <h2 class="contact-page-header">Feel free to contact</h2>
      <nav class="fill contact-info-wrapper">
        <ul class="example-list row">
          <li class="contact-list-item col-md-4 col-xs-12"><a class="" href="https://www.linkedin.com/in/nikolai-lambsdorff-1b2241b6/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
          <li class="contact-list-item col-md-4 col-xs-12"><a class="contact-mail-link" href="mailto:nikolai.lambsdorff@gmx.de"><i class="fas fa-envelope"></i></a></li>
          <li class="contact-list-item col-md-4 col-xs-12"><a class="" href="https://github.com/nikolailambs" target="_blank"><i class="fab fa-github"></i></a></li>
        </ul>
      </nav>
    </div>
  </div> -->


<!-- animated text -->
<!--     <svg viewBox="0 0 2400 300">
  <symbol id="s-text">
    <text text-anchor="middle"
          x="50%"
          y="70%"
          class=""
          >
      spice dev studio
    </text>

  </symbol>

  <g class="g-ants">
    <use xlink:href="#s-text"
      class="text-copy"></use>
    <use xlink:href="#s-text"
      class="text-copy"></use>
    <use xlink:href="#s-text"
      class="text-copy"></use>
    <use xlink:href="#s-text"
      class="text-copy"></use>
    <use xlink:href="#s-text"
      class="text-copy"></use>
  </g>


  </svg> -->



</div>

