<div class="knowledge-container scroll-reveal-box">
  <h2 class="timeline-page-header">Experience</h2>

  <div class="row">
    <div class="knowledge-row-box">
      <div class="col-xs-12 col-sm-6 knowledge-content element-reveal-box">
        <div class="knowledge-icon">
          <img style="width: 90px;" src="https://res.cloudinary.com/dcmqib0ib/image/upload/v1565115350/analysis-red.svg" alt="">
        </div>
        <div class="knowledge-text">
          I combine deep knowledge in <span id="intern">business and finance</span> ...
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 knowledge-content element-reveal-box">
        <div class="knowledge-icon">
          <img style="width: 90px;" src="https://res.cloudinary.com/dcmqib0ib/image/upload/v1565115351/work-time-red.svg" alt="">
        </div>
        <div class="knowledge-text">
          ... with extensive expertise in <span id="uni">mechanical engineering</span> and ...
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="knowledge-row-box">
      <div class="col-xs-12 col-sm-6 knowledge-content element-reveal-box">
        <div class="knowledge-icon">
          <img style="width: 90px;" src="https://res.cloudinary.com/dcmqib0ib/image/upload/v1565115350/coding-red.svg" alt="">
        </div>
        <div class="knowledge-text">
          ... a strong passion for <span id="uni">software development</span> to deliver ...
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 knowledge-content element-reveal-box">
        <div class="knowledge-icon">
          <img style="width: 90px;" src="https://res.cloudinary.com/dcmqib0ib/image/upload/v1532895216/chilli-red.svg" alt="">
        </div>
        <div class="knowledge-text">
          ... a <span id="coding">spicy mixture</span> of project management, product developemt, and user experience.
        </div>
      </div>
    </div>
  </div>

  <!-- knowledge icon background -->
  <% @icon_array.each_with_index do |icon, index| %>
    <img src="https://res.cloudinary.com/dcmqib0ib/image/upload/w_80/v1532895216/<%= icon %>.png" class="background-icon <%= @opacity[index] %>-opacity" style="top: <%= @rand_top[index] %>%; left: <%= @rand_left[index] %>%" alt="">
  <% end %>

</div>
