<div class="knowledge-container scroll-reveal-box">
  <h2 class="timeline-page-header">Experience</h2>

  <div class="row">
    <div class="col-xs-12 col-sm-6 knowledge-content element-reveal-box">
      <div class="knowledge-icon">
        <img src="https://res.cloudinary.com/dcmqib0ib/image/upload/w_80/v1532895216/uni.png" alt="">
      </div>
      <div class="knowledge-text">
        I am a student of the <span id="uni">Technical Univeristy Munich</span> doing a bachelor in management & technology. I focused my studies on finance and mechanical engineering.
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 knowledge-content element-reveal-box">
      <div class="knowledge-icon">
        <img src="https://res.cloudinary.com/dcmqib0ib/image/upload/w_80/v1532895216/programming.png" alt="">
      </div>
      <div class="knowledge-text">
        I learned software developement during an intensive 3 months <span id="coding">coding bootcamp at LeWagon</span>. I gained deep knowledge in HTML, CSS, Bootstrap, JavaScript ES2015, SQL, git, GitHub, Heroku and Ruby on Rails.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 knowledge-content element-reveal-box">
      <div class="knowledge-icon">
        <img src="https://res.cloudinary.com/dcmqib0ib/image/upload/w_80/v1532895216/growth.png" alt="">
      </div>
      <div class="knowledge-text">
        During <span id="intern">several internships in NewYork, London and Berlin</span> in different positions and companies I learned a lot about project management and the finance and software engineering industry.
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 knowledge-content element-reveal-box">
      <div class="knowledge-icon">
        <img src="https://res.cloudinary.com/dcmqib0ib/image/upload/w_80/v1532895216/startup.png" alt="">
      </div>
      <div class="knowledge-text">
        With such a <span id="uni">diversified knowledge</span> I manage to build your website shaped to your product or service, with a perfect focuse on your industry and customers.
      </div>
    </div>
  </div>

  <!-- knowledge icon background -->
  <% @icon_array.each_with_index do |icon, index| %>
    <img src="https://res.cloudinary.com/dcmqib0ib/image/upload/w_80/v1532895216/<%= icon %>.png" class="background-icon <%= @opacity[index] %>-opacity" style="top: <%= @rand_top[index] %>%; left: <%= @rand_left[index] %>%" alt="">
  <% end %>

</div>
