<div class="text-wrapper">
  <div id="home-page-header" class="">
    <!-- <img class="my-img" style="width: 100%;height: 100vh;" src="https://res.cloudinary.com/dcmqib0ib/image/upload/v1533235786/anzeige.jpg" alt=""> -->
    <h2 id="particle-move" class="particle-header" style="position: absolute; top: 30%;">spice dev studio <🌶>.</h2>
    <h2 class="particle-header particle-header-two">
      we love creating <!-- <span style="color: #f4f4f4; background-color: #FEA73A;"> -->🔥 products<!-- </span> --> and <!-- <span style="color: #f4f4f4;background-color: #ED5863;"> -->🌟 apps<!-- </span> -->.</h2>

      <!-- <h2 class="styles_tagline__1Uf9o"><span style="z-index: 9; transform: translate3d(0px, 0px, 0px);">No</span><span style="z-index: 8; transform: translate3d(0px, 0px, 0px);">bullshit.</span><span style="z-index: 7; transform: translate3d(0px, 0px, 0px);">We</span><span style="z-index: 6; transform: translate3d(0px, 0px, 0px);">just</span><span style="z-index: 5; transform: translate3d(0px, 0px, 0px);">craft</span><span style="z-index: 4; transform: translate3d(0px, 0px, 0px);">interactive</span><span style="z-index: 3; transform: translate3d(0px, 0px, 0px);">content</span><span style="z-index: 2; transform: translate3d(0px, 0px, 0px);">for</span><span style="z-index: 1; transform: translate3d(0px, 0px, 0px);">brands.</span></h2> -->

  </div>
  <button type="button" class="scroll_down" id="scroll_down"></button>
</div>



<!--
<script>
  $( "#home-page-header" ).mousemove(function( event ) {
    msg = event.pageX + ", " + event.pageY;
    console.log(msg);

    $("#particle-move").css({"transform": `translate3d(${event.pageX}px, ${event.pageY}px, 0px)`})
    $("#particle-move").css({"top": '0%'})

    // $(".styles_tagline__1Uf9o span").each((item)=>{ $(item).css({"transform": `translate3d(${event.pageX}px, ${event.pageY}px, 0px)`}) })

  });

  $( "#home-page-header" ).mouseleave(function() {
    $("#particle-move").css({"transform": `translate3d(0px, 0px, 0px)`})
    $("#particle-move").css({"top": '30%'})
  });


  var wto;

  $('#select').change(function() {
    clearTimeout(wto);
    wto = setTimeout(function() {
      // do stuff when user has been idle for 1 second
    }, 1000);
  });





</script> -->


<script>

  particlesJS("home-page-header", {
    particles: {
      number: {
        value: 53,
        density: {
          enable: true,
          value_area: 800
        }
      },
      color: {
        value: "#a9a9a9"
      },
      shape: {
        type: "circle",
        stroke: {
          width: 0,
          color: "#000000"
        },
        polygon: {
          nb_sides: 5
        },
        image: {
          src: "img/github.svg",
          width: 100,
          height: 100
        }
      },
      opacity: {
        value: 0.5445118727262681,
        random: false,
        anim: {
          enable: false,
          speed: 1,
          opacity_min: 0.1,
          sync: false
        }
      },
      size: {
        value: 3,
        random: true,
        anim: {
          enable: false,
          speed: 40,
          size_min: 0.1,
          sync: false
        }
      },
      line_linked: {
        enable: true,
        distance: 150,
        color: "#bdbdbd",
        opacity: 0.49716301422833176,
        width: 1
      },
      move: {
        enable: true,
        speed: 1,
        direction: "none",
        random: false,
        straight: false,
        out_mode: "bounce",
        bounce: false,
        attract: {
          enable: false,
          rotateX: 600,
          rotateY: 1200
        }
      }
    },
    interactivity: {
      detect_on: "canvas",
      events: {
        onhover: {
          enable: true,
          mode: "grab"
        },
        onclick: {
          enable: true,
          mode: "push"
        },
        resize: true
      },
      modes: {
        grab: {
          distance: 146.17389821424212,
          line_linked: {
            opacity: 1
          }
        },
        bubble: {
          distance: 400,
          size: 40,
          duration: 2,
          opacity: 8,
          speed: 3
        },
        repulse: {
          distance: 200,
          duration: 0.4
        },
        push: {
          particles_nb: 4
        },
        remove: {
          particles_nb: 2
        }
      }
    },
    retina_detect: true
  });


  // scroll icon hide on scroll
  var position = $(window).scrollTop();

$(window).scroll(function() {
  var scroll = $(window).scrollTop();
  if (scroll > position) {
    $('#scroll_down').fadeOut(1500)
    $('#logo').fadeIn(1000)
  } else {
    $('#scroll_down').fadeIn(1500)
    $('#logo').fadeOut(1000)
  }
  position = scroll;
});

</script>
