<a target="_blank">
  <%= cl_image_tag("VC_database.png", :class => "project-main-image") %>
</a>

<a href="http://www.lambsdorff-architektur.de/" target="_blank">
  <%= cl_image_tag("lambsdorff.png", :class => "project-main-image") %>
</a>

<a href="https://simplestockswebsite.herokuapp.com/" target="_blank">
  <%= cl_image_tag("simple-stocks.png", :class => "project-main-image") %>
</a>

<a href="https://mysimplestocks.herokuapp.com/" target="_blank">
  <%= cl_image_tag("emojistocks.png", :class => "project-main-image") %>
</a>
