<a href="https://lambsdorffarchitektur.herokuapp.com/" target="_blank">
  <div class="col-md-6 col-sm-12 example-list-item-position project-main-image element-reveal-box">
    <li class="list-inline-item lambsdorffarchitektur example-list-hover">
      <img src="https://res.cloudinary.com/dcmqib0ib/image/upload/v1558027385/lambsdorffarchitektur.png" alt="" class="project-main-image">
      <div class="example-description"><p class="example-description-text">LambsdorffArchitektur</p></div>
    </li>
  </div>
</a>

<a href="https://simplestockswebsite.herokuapp.com/" target="_blank">
  <div class="col-md-6 col-sm-12 example-list-item-position project-main-image element-reveal-box">
    <li class="list-inline-item lambsdorffarchitektur example-list-hover">
      <img src="https://res.cloudinary.com/dcmqib0ib/image/upload/v1558027388/simplestocksweb.png" alt="" class="project-main-image">
      <div class="example-description"><p class="example-description-text">SimpleStocks</p></div>
    </li>
  </div>
</a>

<a href="https://mysimplestocks.herokuapp.com/" target="_blank">
  <div class="col-md-6 col-sm-12 example-list-item-position project-main-image element-reveal-box">
    <li class="list-inline-item lambsdorffarchitektur example-list-hover">
      <img src="https://res.cloudinary.com/dcmqib0ib/image/upload/v1558027388/emojistocks.png" alt="" class="project-main-image">
      <div class="example-description"><p class="example-description-text">EmojiStocks</p></div>
    </li>
  </div>
</a>
