  <h2 class="timeline-page-header">Experience</h2>
  <section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-uni">
        <i class="fas fa-graduation-cap"></i>
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>TU Munich</h2>
        <p>Bachelor in technical and management oriented business administration with focus on mechanical engineering. During my studies I gained superior knowledge about business and mechanical engineering.</p>
        <span class="cd-date">Since Oct 15</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-code">
        <i class="fas fa-code"></i>
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>LeWagon</h2>
        <p>Intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES2015, SQL, git, GitHub, Heroku and Ruby on Rails.</p>
        <span class="cd-date">Oct 17</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-dia">
        <i class="fas fa-project-diagram"></i>
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>NewStore</h2>
        <p>With NewStore I was involved in execuding a project, regarding a financial analysis of their customer. We successfully finished this project by identifying the position of the company within the industry.</p>
        <span class="cd-date">Mar 18</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-chart">
        <i class="far fa-chart-bar" style="top: 55%; font-weight: bold; margin-left: -11px;"></i>
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Earlybird</h2>
        <p>I will start working for Earlybird in Sep 2018. Earlybird is a venture capital investor focused  on European technology companies.</p>
        <span class="cd-date">Sep 18</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

<!--   <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-location">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-location.svg" alt="Location">
    </div>

    <div class="cd-timeline-content">
      <h2>Title of section 5</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
      <span class="cd-date">Feb 18</span>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-movie.svg" alt="Movie">
    </div>

    <div class="cd-timeline-content">
      <h2>Final Section</h2>
      <p>This is the content of the last section</p>
      <span class="cd-date">Feb 26</span>
    </div>
  </div> -->
</section> <!-- cd-timeline -->


<!-- <script>
  jQuery(document).ready(function($){
    var $timeline_block = $('.cd-timeline-block');

  //hide timeline blocks which are outside the viewport
  $timeline_block.each(function(){
    if($(this).offset().top > $(window).scrollTop()+$(window).height()*0.75) {
      $(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
    }
  });

  //on scolling, show/animate timeline blocks when enter the viewport
  $(window).on('scroll', function(){
    $timeline_block.each(function(){
      if( $(this).offset().top <= $(window).scrollTop()+$(window).height()*0.75 && $(this).find('.cd-timeline-img').hasClass('is-hidden') ) {
        $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
      }
    });
  });
});
</script> -->
