
<div class="own-container">
  <%= render 'content' %>
</div>



<script>
  window.sr = ScrollReveal();
    // elements reveal
    sr.reveal('.scroll-reveal-box', { duration: 3000 ,reset: true });


    // knowledge-reveal
    var i = 500;
    $('.element-reveal-box').each(function(){
      sr.reveal($(this), {duration: i, reset: true});
      if (i = 2000) {
        i = 500;
      }else{
        i += 500;
      };
    });

  </script>
