

<div class="section-margin">

  <section id="about" class="content-section" style="min-height: 100vh">
    <h2>About</h2>
    <div class="about-text">
      <div>
      <h4>I am a software and web developer with a passion for design and an expertise in building up a complex and scalable backend infrastructure.</h4>
      <p>I have an <strong>engineering and finance</strong> background. I studied mechanical engineering and business administration with focus  on finance and venture capital at the <strong>Technical University Munich</strong>. <br>I learned software development during an intensive coding bootcamp in 2017. Since then I have developed several own ideas as well as business websites for individuals and corporations. <br>Beside that I have worked in <strong>several industries</strong> including private banking, ecommerce SaaS, and venture capital.</p>
      </div>
    </div>
  </section>


  <section id="projects" class="content-section">
    <h2>Projects</h2>
    <%= render 'projects' %>
  </section>


  <section id="knowledge" class="content-section" style="min-height: 100vh; position: relative;">
    <h2 style="margin-top: 100px;">Knowledge</h2>


    <ul>
      <li>
        <div><i class="fab fa-html5"></i></div> HTML
      </li>
      <li>
        <div><i class="fab fa-css3-alt"></i></div> CSS
      </li>
      <li>
        <div><i class="fas fa-gem"></i></div> Ruby
      </li>
      <li>
        <div><i class="fas fa-database"></i></div> SQL
      </li>
      <li>
        <div><i class="fas fa-subway"></i></div> Rails
      </li>
      <li>
        <div><i class="fab fa-bootstrap"></i></div> Bootstrap
      </li>
      <li>
        <div><i class="fab fa-git-square"></i></div> git
      </li>
      <li>
        <div><i class="fab fa-github"></i></div> GitHub
      </li>
      <li>
        <div><i class="fab fa-java"></i></div> Java
      </li>
      <li>
        <div><i class="fab fa-js-square"></i></div> JavaScript
      </li>
      <li>
        <div><i class="fas fa-dollar-sign"></i></div> jQuery
      </li>
      <li>
        <div><i class="fab fa-react"></i></div> React
      </li>
      <li>
        <div><i class="fas fa-mobile"></i></div> ReactNative
      </li>
    </ul>





    <%= link_to 'Impressum', impressum_path, class: "impressum-link" %>
  </section>

</div>

