
<div class="own-container">
  <%= render 'content' %>
</div>



<script>
  window.sr = ScrollReveal();
    // elements reveal
    sr.reveal('.scroll-reveal-box', { duration: 1500 ,reset: true });


    // knowledge-reveal
    var i = 400;
    $('.element-reveal-box').each(function(){
      sr.reveal($(this), {duration: i, reset: true});
        i += 400;
    });

  </script>
