

<div style="margin-left: 50%;">

  <section id="about" class="content-section" style="min-height: 100vh">
    <h2>About</h2>
    <div class="about-text">
      <p>
        I have an engineering and finance background. I studied mechanical engineering and business administration with focus  on finance and venture capital at the Technical University Munich. <br>I learned software development during an intensive coding bootcamp in 2017. Since then I have developed several own ideas as well as business websites for individuals and corporations. <br>Beside that I have worked in several industries including private banking, ecommerce SaaS, and venture capital.
    </p>
    </div>
  </section>


  <section id="projects" class="content-section">
    <h2>Projects</h2>
    <%= render 'projects' %>
  </section>


  <section id="knowledge" class="content-section" style="min-height: 100vh; position: relative;">
    <h2 style="margin-top: 100px;">Knowledge</h2>
    <%= link_to 'Impressum', impressum_path, class: "impressum-link" %>
  </section>

</div>

