

<div class="section-margin">

  <section id="about" class="content-section" style="min-height: 100vh">
    <h2>About</h2>
    <div class="about-text">
      <div>
      <h4>I am a software and web developer with a passion for design and the expertise to build a complex and scalable backend infrastructure.</h4>
      <p>I have an <strong>engineering and finance</strong> background. I studied mechanical engineering and business administration with focus  on finance and venture capital at the <strong>Technical University Munich</strong>. <br>I learned software development during an intensive coding bootcamp in 2017.<br>Since then I have developed a number of own ideas as well as business websites for individuals and corporations. <br>I have worked in <strong>several industries</strong> including private banking, ecommerce SaaS, and venture capital.</p>
      </div>
    </div>
  </section>


  <section id="projects" class="content-section">
    <h2>Projects</h2>
    <%= render 'projects' %>
  </section>


  <section id="knowledge" class="content-section" style="min-height: 100vh; position: relative;">
    <h2 style="margin-top: 100px;">Knowledge</h2>


    <ul>
      <li>
        <div><i class="fab fa-html5"></i></div> HTML
      </li>
      <li>
        <div><i class="fab fa-css3-alt"></i></div> CSS
      </li>
      <li>
        <div><i class="fas fa-gem"></i></div> Ruby
      </li>
      <li>
        <div><i class="fas fa-database"></i></div> SQL
      </li>
      <li>
        <div><i class="fas fa-subway"></i></div> Rails
      </li>
      <li>
        <div><svg style="width: 22px;" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="bootstrap" class="svg-inline--fa fa-bootstrap fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M292.3 311.93c0 42.41-39.72 41.43-43.92 41.43h-80.89v-81.69h80.89c42.56 0 43.92 31.9 43.92 40.26zm-50.15-73.13c.67 0 38.44 1 38.44-36.31 0-15.52-3.51-35.87-38.44-35.87h-74.66v72.18h74.66zM448 106.67v298.66A74.89 74.89 0 0 1 373.33 480H74.67A74.89 74.89 0 0 1 0 405.33V106.67A74.89 74.89 0 0 1 74.67 32h298.66A74.89 74.89 0 0 1 448 106.67zM338.05 317.86c0-21.57-6.65-58.29-49.05-67.35v-.73c22.91-9.78 37.34-28.25 37.34-55.64 0-7 2-64.78-77.6-64.78h-127v261.33c128.23 0 139.87 1.68 163.6-5.71 14.21-4.42 52.71-17.98 52.71-67.12z"></path></svg></div> Bootstrap
      </li>
      <li>
        <div><i class="fab fa-git-square"></i></div> git
      </li>
      <li>
        <div><i class="fab fa-github"></i></div> GitHub
      </li>
      <li>
        <div><i class="fab fa-java"></i></div> Java
      </li>
      <li>
        <div><i class="fab fa-js-square"></i></div> JavaScript
      </li>
      <li>
        <div><i class="fas fa-dollar-sign"></i></div> jQuery
      </li>
      <li>
        <div><i class="fab fa-react"></i></div> React
      </li>
      <li>
        <div><i class="fas fa-mobile"></i></div> ReactNative
      </li>
    </ul>





    <%= link_to 'Impressum', impressum_path, class: "impressum-link" %>
  </section>

</div>


<script>
  $(function () {
    $(document).scroll(function () {
      var $leftSide = $(".contact-wrapper");
      $leftSide.toggleClass( 'scrolledTwo', $(this).scrollTop() > $('#about').height() );
      $leftSide.toggleClass( 'scrolledThree', $(this).scrollTop() > $('#about').height() + $('#projects').height() );
    });
  });
</script>

