.knowledge-container {
  position: relative;
}

.background-icon {
  filter: grayscale(100%);
  width: 49px;
  position: absolute;
}

.strong-opacity {
  opacity: 0.05;
}
.less-opacity {
  opacity: 0.1;
}
