.page-box {
  margin-left: 25px;
  margin-right: 25px;
  padding: 40px;
  border-bottom: 1px solid #969696;
}
@media screen and (min-width: 701px) {
  .page-box {
    padding: 40px;
  }
}
/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 700px) {
  .page-box {
    padding: 0px;
  }
}

.big-box {
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 47px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.half-box {
  height: 300px;
  font-family: 'Montserrat', sans-serif;
}
