.page-box {
  margin-left: 25px;
  margin-right: 25px;
  padding: 40px;
  border-bottom: 1px solid #969696;
  /*  border: 1px solid gainsboro;
  border-radius: 23px;
  box-shadow: -6px 6px 12px #616161bf;*/
}

.big-box {
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 47px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.half-box {
  height: 300px;
  font-family: 'Montserrat', sans-serif;
}

.scroll-box {
  height: 100vh;
  margin-top: 200px;
}
