.contact-wrapper {
  display: flex;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
}

.contact-card {
  width: 400px;
  height: 200px;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: -4px -4px 31px #ADADAD;
}

.front {
  color: #E4572E;
  background-color: #F9F9F9;
  border: 1px solid #E4572E;
}

.back {
  background-color: #E4572E;
  border: 1px solid #C9C4C1;
}

.contact-information {
  color: white;
  position: relative;

  h4 {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: 'Rubik', sans-serif;
  }

  .contact-table {
    position: absolute;
    bottom: 10px;
    right: 10px;
    a {
      text-decoration: none;
      color: white;
      &:hover {
        color: #D6D6D6;
      }
    }
    th {
      font-weight: lighter;
    }
  }
}
