h2 {
  font-size: 50px;
}

.example-page-header {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #404040;
  font-weight: bold;
}

.contact-page-header {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 27%;
  color: #404040;
  font-weight: bold;
}

.about-page-header {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #404040;
  font-weight: bold;
}

.timeline-page-header {
 display: flex;
 justify-content: center;
 width: 100%;
 color: #404040;
 font-weight: bold;
}
