h2 {
  font-size: 50px;
  font-family: Nunito;
}

body {
  font-family: Nunito;
}

.particle-header {
  font-size: 32px;
  position: absolute;
  left: 30px;
}

.particle-header-two {
  position: absolute;
}


.about-page-header {
  display: flex;
  padding-left: 50px;
  width: 100%;
  color: #404040;
  font-weight: bold;
}

.example-page-header {
  display: flex;
  padding-left: 50px;
  width: 100%;
  color: #404040;
  font-weight: bold;
}

.timeline-page-header {
 display: flex;
 padding-left: 50px;
 width: 100%;
 color: #404040;
 font-weight: bold;
}
.contact-page-header {
  text-align: center;
  color: #404040;
  font-weight: bold;
}

@media screen and (min-width: 701px) {
  .particle-header-two {
    top: 40%;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 700px) {
  .particle-header {
    line-height: 50px;
  }
  .particle-header-two {
    top: 45%;
  }
}
