.knowledge-container {
  text-align: center;
  margin-top: 200px;
}

.knowledge-icon {
  margin-top: 80px;
}

.knowledge-text {
  font-size: 20px;
  line-height: 32px;
}

.knowledge-content span {
  transition: all 1s ease;
}

.visible-on-hover {
  /*opacity: 0; */
  transition: all 1s ease;
}


.bounce-in-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.bounce-in-on-hover:hover,
.bounce-in-on-hover:focus,
.bounce-in-on-hover:active {
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}



@media screen and (min-width: 701px) {
  .knowledge-text {
    margin: 30px 80px;
  }

  .knowledge-content:hover #uni {
    color: #f4f4f4;
    background-color: #88CCF1;
  }
  .knowledge-content:hover #coding {
    color: #f4f4f4;
    background-color: #ED5863;
  }
  .knowledge-content:hover #intern {
    color: #f4f4f4;
    background-color: #FEA73A;
  }
}



/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 700px) {
  .knowledge-text {
    margin: 30px 20px;
  }

  .knowledge-content #uni {
    color: #f4f4f4;
    background-color: #88CCF1;
  }
  .knowledge-content #coding {
    color: #f4f4f4;
    background-color: #ED5863;
  }
  .knowledge-content #intern {
    color: #f4f4f4;
    background-color: #FEA73A;
  }
}




@media screen and (min-width: 1001px) {

  .knowledge-container {
    margin: 90px 0px;
  }

  .knowledge-row-box {
    padding: 0 50px;
  }

}
/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 1000px) {
  .knowledge-container {
   margin: 90px 0px;
 }
}
