.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 20;

  .navbar-list {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #dedede;
    border-radius: 10px;
    background-color: #F4F4F4;
  }
}
