/* Main navbar */
.navbar-wagon {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background: none;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-wagon-brand {
  height: 50px;
  color: #E4572E;
  &:hover {
    text-decoration: none;
    color: #FD8E60;
  }
  h3 {
    margin-top: 12px;
  }
}

.fade {
  display: none;
  opacity: 1;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
  transition: all ease-in-out 0.5s;

}
