<div class="playful-content-wrapper">
  <%= link_to root_path(anchor: "example-anchor"), class: "playful-back-link" do %>
  <i class="fas fa-arrow-left playful-link-icon"></i>
  <% end %>
  <div class="playful-menu-wrapper">
    <ul class="playful-list-all">
      <li>
        <div class='playful-list-item standard-position' data-title="home" data-text="this is the text for home. <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">
          <i class="fas fa-home"></i>
        </div>
      </li>
      <li>
        <div class='playful-list-item standard-position' data-title="games" data-text="this is the text for games. <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">
          <i class="fas fa-gamepad"></i>
        </div>
      </li>
      <li>
        <div class='playful-list-item standard-position' data-title="videos" data-text="this is the text for videos. <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">
          <i class="fas fa-video"></i>
        </div>
      </li>
      <li>
        <div class='playful-list-item standard-position' data-title="downloads" data-text="this is the text for downloads. <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">
          <i class="fas fa-download"></i>
        </div>
      </li>
      <li>
        <div class='playful-list-item standard-position' data-title="trophies" data-text="this is the text for trophies. <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">
         <i class="fas fa-trophy"></i>
       </div>
     </li>
     <li>
      <div class='playful-list-item standard-position' data-title="archive" data-text="this is the text for archive. <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">
       <i class="fas fa-archive"></i>
     </div>
   </li>
   <li>
    <div class='playful-list-item standard-position' data-title="comments" data-text="this is the text for comments. <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">
      <i class="fas fa-comments"></i>
    </div>
  </li>
  <li>
    <div class='playful-list-item standard-position' data-title="users" data-text="this is the text for users. <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">
      <i class="fas fa-user"></i>
    </div>
  </li>
  <li>
    <div class='playful-list-item standard-position' data-title="youtube" data-text="this is the text for youtube. <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">
      <i class="fab fa-youtube"></i>
    </div>
  </li>
  <li>
    <div class='playful-list-item standard-position' data-title="thumps-up" data-text="Here you can support us on sovial media. <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">
     <i class="fas fa-thumbs-up"></i>
   </div>
 </li>
</ul>
</div>

<div class="playful-content-text-wrapper" style="display: none;">
  <h2 class="playful-content-text-header"></h2>
  <p class="playful-content-text-text"></p>
</div>

</div>


<script>
// menu and content animatio
$(document).ready(function() {
 $(".playful-list-item").click(function() {
  if ($(this).hasClass("standard-position")) {

// add and remove animation menu classes
$('.playful-list-item').addClass("standard-position");
$('.playful-list-item').removeClass("right-position");
$(this).addClass('right-position');
$(this).removeClass('standard-position');
// end of adding and removing animation menu classes

// fill content with text
$('.playful-content-text-wrapper').show();
$('.playful-content-text-header').html($(this).attr("data-title"));
$('.playful-content-text-text').html($(this).attr("data-text"));
$('.playful-content-text-text').show();
// end of filling content with text

// scroll down
 $('html, body').animate({ scrollTop: $(".playful-content-text-wrapper").offset().top }, 500);

}
else {

      // removing animation menu classes
      $(this).addClass('standard-position');
      $(this).removeClass('right-position');
      // end of removing animation menu classes
      $('.playful-content-text-wrapper').hide()

    }
  });
});
</script>
